
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #FAFAF9;
    background-color: #A37270;
    text-emphasis: 12px;
    border-style: solid;
}

a{
    border-style: solid;
    border-color:#896A61;
    color: black;

}