.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #e3f2fd;
    text-align: center;
  }
  
.icon:hover{
  opacity: 50%;
} 

.container{
  width: 100%;
  padding-top: 10pc;
}
.img{
  background-color: cadetblue;
  border-radius: 60%;
}

#linkedIn{
  height: 64px;
  width: 72px;
}

#logoholder{
display: flex;
justify-content: space-between;
max-width: 400px;
margin: 0 auto;
padding: 10px 0;
color: lightblue;

}